################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WestWorldWithWomen.VC.VC.opendb
/.vs/WestWorldWithWomen/v14/.suo
